<div class="row">
	<div class="col-sm-5">
		<ul class="list-inline">
			{% if U_PORTAL or U_SITE_HOME %}
			<li>
				<a href="{% if U_PORTAL %}{{ U_PORTAL }}{% elseif U_SITE_HOME %}{{ U_SITE_HOME }}{% endif %}">
					<i class="icon icon-home"></i> {% if L_SITE_HOME %}{L_SITE_HOME}{% else %}{{ SITENAME }}{% endif %}
				</a>
			</li>
			{% endif %}

			<!-- EVENT overall_footer_breadcrumb_prepend -->
			<li>
				<a href="{{ U_INDEX }}">
					<i class="icon icon-forum"></i> {L_INDEX}
				</a>
			</li>
			<!-- EVENT overall_footer_breadcrumb_append -->

			{% if U_WATCH_FORUM_LINK and not S_IS_BOT %}
			<li>
				<a href="{{ U_WATCH_FORUM_LINK }}" title="{{ S_WATCH_FORUM_TITLE }}">
					<i class="icon icon-{% if S_WATCHING_FORUM %}unsubscribe{% else %}subscribe{% endif %}"></i> {{ S_WATCH_FORUM_TITLE }}
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
	<div class="col-sm-7 text-right">
		<ul class="list-inline">
			{% if U_CONTACT_US %}
				<li><a href="{{ U_CONTACT_US }}"><i class="icon icon-social-contact"></i> {L_CONTACT_US}</a></li>
			{% endif %}

			<!-- EVENT overall_footer_teamlink_before -->
			{% if U_TEAM %}
				<li><a href="{{ U_TEAM }}"><i class="icon icon-team"></i> {L_THE_TEAM}</a></li>
			{% endif %}
			<!-- EVENT overall_footer_teamlink_after -->

			{% if not S_IS_BOT %}
				<li><a href="{{ U_DELETE_COOKIES }}"><i class="icon icon-delete-cookies"></i> {L_DELETE_COOKIES}</a></li>
				{% if S_DISPLAY_MEMBERLIST %}
					<li><a href="{{ U_MEMBERLIST }}" title="{L_MEMBERLIST_EXPLAIN}"><i class="icon icon-members"></i> {L_MEMBERLIST}</a></li>
				{% endif %}
			{% endif %}

			<!-- EVENT overall_footer_timezone_before -->
			<li>{{ S_TIMEZONE }}</li>
			<!-- EVENT overall_footer_timezone_after -->
		</ul>
	</div>
</div>
