<ul class="dropdown-menu dropdown-menu-right">
	<li class="dropdown-header">
		{L_NOTIFICATIONS}
	</li>
	<li class="dropdown-header">
		<div class="clearfix">
			<a href="{{ U_NOTIFICATION_SETTINGS }}" class="pull-left">{L_SETTINGS}</a>
			<a href="{{ U_MARK_ALL_NOTIFICATIONS }}" class="pull-right">{L_MARK_ALL_READ}</a>
		</div>
	</li>
	<li class="divider"></li>
	{% for notification in loops.notifications  %}
		<li class="notification<!-- IF notification.UNREAD --> notification-unread<!-- ENDIF -->">
			<a href="{% if notification.UNREAD %}{{ notification.U_MARK_READ }}{% elseif notification.URL %}{{ notification.URL }}{% else %}#{% endif %}" class="media">
				<div class="media-object media-object-sm img-circle">
					{% if notification.AVATAR %}{{ notification.AVATAR }}{% else %}<img src="{{ T_THEME_PATH }}/images/no_avatar.gif" alt="no avatar" />{% endif %}
				</div>
				<div class="media-body">
					<h4 class="media-heading media-heading-xs">
						{{ notification.FORMATTED_TITLE }}
					</h4>
					{% if notification.REFERENCE %}<div class="notification-reference">{{ notification.REFERENCE }}</div>{% endif %}
					{% if notification.FORUM %}<div class="notification-forum">{{ notification.FORUM }}</div>{% endif %}
					{% if notification.REASON %}<div class="notification-reason">{{ notification.REASON }}</div>{% endif %}
					<div class="notification-time">{{ notification.TIME }}</div>
				</div>
				{% if notification.UNREAD %}
					<a href="{{ notification.U_MARK_READ }}" title="{L_MARK_READ}" class="notification-mark">
						<i class="icon icon-mark"></i>
					</a>
				{% endif %}
			</a>
		</li>
		<li class="divider"></li>
	{% else %}
		<li class="dropdown-header">
			{L_NO_NOTIFICATIONS}
		</li>
	{% endfor %}
	<li class="dropdown-header">
		<div class="text-center">
			<a href="{{ U_VIEW_ALL_NOTIFICATIONS }}">{L_SEE_ALL}</a>
		</div>
	</li>
</ul>
