<ul class="pagination pagination-sm">
{% for page in loops.pagination %}
	{% if page.S_IS_PREV %}
	<li class="previous"><a href="{{ page.PAGE_URL }}" rel="prev">&laquo;</a></li>
	{% elseif page.S_IS_CURRENT %}
	<li class="active"><span>{{ page.PAGE_NUMBER }}</span></li>
	{% elseif page.S_IS_ELLIPSIS %}
	<li class="ellipsis"><span>&hellip;</span></li>
	{% elseif page.S_IS_NEXT %}
	<li class="next"><a href="{{ page.PAGE_URL }}" rel="next">&raquo;</a></li>
	{% else %}
	<li><a href="{{ page.PAGE_URL }}">{{ page.PAGE_NUMBER }}</a></li>
	{% endif %}
{% endfor %}
</ul>
